InheritParentConfig: true
Checks: >-
  boost-*,
  bugprone-*,
  cert-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  google-*,
  hicpp-*,
  llvm-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -cppcoreguidelines-avoid-const-or-ref-data-members,
  -cppcoreguidelines-avoid-do-while,
  -google-readability-todo,
  -readability-avoid-const-params-in-decls,
  -readability-function-cognitive-complexity,
  -readability-redundant-member-init,
  -llvm-header-guard,
  -llvm-include-order,
  -bugprone-easily-swappable-parameters,
  -cert-err58-cpp,
  -cert-msc30-c,
  -cert-msc50-cpp,
  -*-msc32-c,
  -*-magic-numbers,
  -*-owning-*,
  -*-array-to-pointer-decay,
  -*-array-decay,
  -*-use-trailing-return-type,
  -*-pro-type-union-access,
  -*-identifier-length,
  -*-named-parameter,
  -*-unchecked-optional-access,
  -*-non-private-member-variables-in-classes,
  -*-use-designated-initializers,
  -*macro-to-enum,
  -*-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
