*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.mod
*.smod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
*.bin
*.elf
*.tmp
*.log
*.tsv
*.csv
*.db
*.profraw
.scannerwork
build/
build_*/
cmake*build*/
.ipynb_checkpoints
**/.idea/*
!/.idea/dictionaries
!/.idea/dictionaries/*
